In [14]:
import pandas as pd
import numpy as np

In [2]:
ts1 = pd.Series([8, 24, 16, 4, 42])

In [3]:
ts1

0     8
1    24
2    16
3     4
4    42
dtype: int64

In [4]:
ts1.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
ts2 = pd.Series([8, 24, 16, 4, 42], index= ['a', 'b', 'c', 'd', 'e'])

In [6]:
ts2

a     8
b    24
c    16
d     4
e    42
dtype: int64

In [7]:
ts1[2]

16

In [8]:
ts2['c']

16

In [9]:
ts2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [10]:
ts2[['c', 'a', 'e']]

c    16
a     8
e    42
dtype: int64

In [11]:
ts1[[2,1,3]]

2    16
1    24
3     4
dtype: int64

In [12]:
ts1[ts1 > 15]

1    24
2    16
4    42
dtype: int64

In [13]:
ts1[ts1 > 15] * 2

1    48
2    32
4    84
dtype: int64

In [15]:
np.sqrt(ts1)

0    2.828427
1    4.898979
2    4.000000
3    2.000000
4    6.480741
dtype: float64

In [16]:
'c' in ts2

True

In [17]:
'g' in ts2

False

In [18]:
countries = { 'turkey': 80000000, 'france': 70000000, 'italy': 60000000}

In [23]:
population = pd.Series(countries)

In [24]:
population

turkey    80000000
france    70000000
italy     60000000
dtype: int64

In [25]:
'turkey' in population

True

In [26]:
population['france']

70000000

In [33]:
labels = ['turkey', 'france', 'italy', 'greece']

In [34]:
ts3 = pd.Series([80000000,70000000,60000000,10000000], index = labels)

In [35]:
population + ts3

france    140000000.0
greece            NaN
italy     120000000.0
turkey    160000000.0
dtype: float64